/* ==========================================================================
   Header
   ========================================================================== */
   
.navbar-default {
	background-color: transparent;
}
.navbar-header {
  padding-bottom: 20px;
}

.navbar-static-top {
	border-width: 0px 0px 0px;
}

ul.navbar-nav {
   float: right;
   padding-top: 15px;
}

.menu-margin {
  margin-left: 50px;
}

.dropdown-menu > li > a {
  padding: 5px 20px; 
}
/* ==========================================================================
   Footer
   ========================================================================== */
.carousel-caption {
    top: 0;
    bottom: auto;
}
body {
  background: transparent url(../img/bg4.jpg) center 25px no-repeat;
  // /assets/less/_global.less
  // /assets/img/bg.jpg
}
.background {
  background: white;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  padding: 10px;
}

.menu-215-557-1555 a:first-child {
  position: absolute;
}
/* ==========================================================================
   Padding
   ========================================================================== */
.pad-top {
  padding-top: 20px;
}

.pad-top-2 {
  padding-top: 40px;
}
.pad-bot {
  padding-bottom: 20px;
}
.pad-bot-2 {
  padding-bottom: 40px;
}

/* ==========================================================================
   Backgrounds
   ========================================================================== */
// @brand-orange: #ff5200;
// @brand-blue: #001a71;


.grey-gradient{
  #gradient.vertical(#ffffff; #cfcfcf; 0%; 90%);
}

.grey-bg, .bg-grey {
  background-color: #ededed;
}
.bg-white {
  background-color: #F9F7F4;
}


/* ==========================================================================
   Fonts & Colors
   ========================================================================== */
h1,h2,h3,h4,h5, {
  font-family: @font-family-serif;
}
nav {
  font-family: "Helvetica Neue";
  color: @brand-primary;
}
a {
  color: @brand-info;
}


.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold{
  font-weight: 800;
}


.smaller {
  font-size: floor((@font-size-base * .8));
}
.small {
  font-size: @font-size-small; // ~12px
}
.base {
  font-size: @font-size-base;  // 14pm
}
.medium {
  font-size: floor((@font-size-base * 1.15));
}
.large {
  font-size: @font-size-large; // ~18px
}
.huge {
  font-size: floor((@font-size-base * 2.3)); // ~32
}

.uppercase {
  text-transform: uppercase;
}
/* ==========================================================================
   Layout & Rows
   ========================================================================== */

// Apply this to the enclosing row
.row-centered {
  text-align: center;
  display: table-row;
}
// Apply this to the cols within the row
.col-centered {
  display: table-cell;
  float: none;
  vertical-align: top;
}

.full-width {
  width: 100% !important;
}

.row-middle {
  display: flex;
  align-items: center; 
}

.img-center {
  margin: 0px auto;
}


/* ==========================================================================
   Columns
   ========================================================================== */

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}

.threeColumns {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;

}


/* ==========================================================================
   Media Calls
   ========================================================================== */

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {

  
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {

}
